<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= name %></title>
  </head>

  <body>
    <h1><%= name %></h1>

    <p>Subscribers: <%= subscribers %></p>

    <p><%= description %></p>

    <table border=1>
      <tr>
        <th>title</th>
        <th>author</th>
      </tr>
      
      <% for (let post of posts ) { %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.author %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
